$main--color: #f2443e;
$secondary--color: #7fd0ff;

.main--text {
    color: $main--color;
}

.secondary--text {
    color: $secondary--color;
}

body {
    overflow-x: hidden;
}

footer {
    position: relative;;
}
.error {
    color: white;
}

.logo {
    position: absolute;
    z-index: 2;
}
.headline {
    margin-bottom: 40px;
}


.section-title-main {
    &:before {
        content: "-";
        color: $main--color;
        display:inline-block;
        transform: scaleX(3);
        margin-left: -50px;
        margin-right: 30px;
    }
}
.slider-text-middle-main {
    padding:20px;
}
// main
.float-bg {
    background-position: center;
    background-size: cover;
}

.scroll-btn-container {
    width: 100%;
    .scroll-btn {
        color: white;
        border: 2px solid white;
        padding: 10px 30px 10px 34px;
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .scroll-btn:hover {
        color: #1b1b1b !important;
        background-color: white;
        border: 2px solid #1b1b1b;   
    }
    .scroll-btn.submit-btn:hover {
        color: $main--color !important;
        background-color: white;
        border: 2px solid $main--color;   
    }
}

#third {
    padding: 0 !important;
    line-height: 2;
    position: relative;
    .opacity-full {
        padding-top: 10%;
        padding-bottom: 10%;
        h3 {
            line-height: 1.6;
        }
        .scroll-btn {
            background-color: $main--color;
            color: white;
            border: none;
        }
        .scroll-btn:hover {
            color: $main--color;
            background-color: white;
        }
    }
}

//contact
.contact-container {
    padding: 70px 30px;
    .call-us {
        width: 100%;
        .contact-left {
            padding-top: 50px;
            h1 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        
            h4 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        
            h6 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        }
        .contact-right {
            background-color: $main--color;
            padding: 30px;
            input, select {
                font-size: 1.4rem !important;
            }
        }
    }
}

#progress-bar-container {
    margin-bottom: 10px;
}

.checkbox {
    margin-bottom: 40px;
    .fake_input--checkbox {
        width: unset;
        left: 20px;
    }
    .fake_input--checkbox--label {
        a {
            color: yellow;
        }
    }
}

.en__component--page {
    display: none;
}

.btn-footer {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.parallax-fix {
    background-size: cover !important;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2rem !important;
    }
    h3 {
        font-size: 1.8rem !important;
    }
    h4 {
        font-size: 1.6rem !important;
    }
    h5 {
        font-size: 1.4rem !important;
    }
    h6 {
        font-size: 1.3rem !important;
    }

    .section-title-main {
        &:before {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .email-content {
        padding: 80px 0;
        .scroll-btn {
            margin-left: 3%;
        }
    }
    .contact-left {
        padding-top: 20px !important;
    }
    .scroll-btn-container {
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem !important;
    }
}

@media (max-width: 991px) {
    .architecture-details {
        opacity: 1;
        bottom: 10px;
    }
}

// modified for policy petition campaign
.bg-transparent-deep-main { background: rgba(242, 68, 62,.9) !important}

.red-label {
    background-color: $main--color;
    color: white;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10%;
    margin-left: -6px;
    font-size: 1.2rem;
}
#speakers {
    padding-top: 5%;
    background-color: white;
}
#intro {
    height: 100vh;
    background-size: 90% 90%;
    background-position: center bottom;
    position: relative;
    padding-top: 12%;
}
.intro-text {
    margin-top: 8%;
}

.intro-color-block {
    position: absolute;
    right: 0;
    bottom: 15vh;
    width: 4vw;
    height: 36vh;
    background-color: $main--color;
}

.third-section {
    background-repeat: no-repeat;
}
.parallax-bg {
    background-position: center; 
    background-size: cover;
    position: fixed;
    z-index: 0;
    top: 0;
    width:100vw;
    height: 100vh;
}

#mc-form {
    height: 0;
    overflow: hidden;
}

.loading-cover {
    position:fixed;
    display: none;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
    padding-top: 48vh;
    .fas {
        color: #009302;
    }
}

.email-suggestion {
    color: white;
    text-align: right;
    cursor: pointer;
}